.dml_table {
  width: 100%;
  box-sizing: border-box;
}

.dml_table tr {
  border-collapse: collapse;
}

.dml_table tr th {
  text-align: left;
  border-top: 4px solid rgb(27, 235, 214);
  /* background-color: #1f5156; */
  background: #1f5156;
  /* color: rgba(14, 14, 20, 0.77); */
  font-size: 2rem;
  color: white;
  font-size: 3rem;
  padding: 0.5rem;
  border-left: 4px solid rgb(29, 225, 173);
  font-weight: 700;
}

.dml_table tr td {
  /* color: rgba(13, 13, 14, 0.77); */
  font-size: 1rem;
  padding: 0.5rem;
  border-top: 2px solid rgb(27, 235, 214);
  border-left: 4px solid rgb(29, 225, 173);
}

.dml_table tr th:last-child,
.dml_table tr td:last-child {
  border-right: 4px solid rgb(19, 211, 163);
}
.dml_table tr:last-child th,
.dml_table tr:last-child td {
  border-bottom: 2px solid rgb(21, 187, 145);
}

.dml_table tr td {
  font-weight: 300;
}

h1 {
  text-align: center;
  tab-size: 2rem;
}
label {
  margin-left: 2rem;
  margin-right: 3px;
}
input {
  border: 3px solid rgba(14, 14, 20, 0.77);
  height: 1.6rem;
}

.searchbox {
  width: 30%;
}
.checkbox {
  width: 100%;
}
.sticky-thc th {
  position: sticky;
  top: 0;
}
table {
  margin-bottom: 30rem;
  height: 5rem;
  background-color: antiquewhite;
}
img {
  width: 17rem;
  height: 12rem;
}
a img {
  width: 30rem;
  height: 32rem;
}
a {
  text-decoration: none;
}
a > img {
  display: none;
}
a:hover > img {
  display: block;
  position: absolute;
}
